.DS_Store
node_modules/
.env
*.log
.vscode/
.obsidian/workspace
.obsidian/workspace.json
dist/
.next/
.env.local
.env.*.local
!/.env.example
__pycache__/
*.pyc
.venv/
build/
/.github/workflows/
*.xcuserstate
xcuserdata/
DerivedData/
